*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}
.navbar-a{
    padding: 20px;
    display: flex; 
    justify-content: center;
    justify-content: space-between; 
    position: fixed!important;
    width: 100%!important;
    top: 0px;
    left: 0px;
    z-index: 9999!important;
    background: rgba(198, 195, 195, 0.6)!important;
   
}

.logo-1{
    font-size: 24px;
    padding-left: 10px;
    padding-top:20px;
} 
.nav-link:hover{
    transform: scale(1.2);
    background-color: white;
    width:100px;
    height:30px;
     text-align:center;
}


.navbar-a .outer-menu-1{
    gap:40px;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-a ul li{
    list-style:none;
    font-size: 18px;
    color: rgb(11, 12, 12);
} 
.txt-bar{
   display:flex;
   padding-top:20px; 
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-image: url('lgon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.log{
    width:420px;
    background:transparent;
    border:2px solid rgba(255, 255, 255, .2);
    color:white;
    backdrop-filter:blur(20px);
    box-shadow:0 0 10px rgba(0,0,0,.2);
    border-radius:10px;
    padding:30px 40px; 
}
.log h1{
    font-size:36px;
    text-align:center;
}
.log .log1{
    position:relative;
    width:100%;
    height:50px;
    margin:30px 0;
}
.log1 input{
    width:100%;
    height:100%;
    background: transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255, 255, 255, 0.2);
    border-radius:40px;
    font-size:16px;
    color:white;
    padding:20px 45px 20px 20px;
}
.log1 input::placeholder{
    color:white;
}
.log1 i{
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    font-size:20px;
}
.log .log3{
    display:flex;
    justify-content:space-between;
    font-size:14.5px;
    margin:-15px 0 15px;
}
.log3 label input{
    accent-color:white;
    margin-right:3px;
}
.log3 a{
    color:white;
    text-decoration:none;
}
.log3 a:hover{
    text-decoration: underline;
}
.log .btn{
    width:100%;
    height:45px;
    background:white;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size:16px;
    color:#333;
    font-weight:600;
}
.log .log4{
    font-size:14.5px;
    text-align:center;
    margin:20px 0 15px;
}
.log4 p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.log4 p a:hover{
    text-decoration: underline;
}
