{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href={% static 'style5.css' %}>
</head>
<body>
    <div class="a-nav">
      <div class="a-logo">
        <b>Admin Dashboard</b>
      </div>
      <div class="a-navbar">
        <ul class="a-outer-menu">
          <li class="nav-items"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-items"><a class="nav-link" href="/create user">Create User</a></li>
          <li class="nav-items"><a class="nav-link" href="/create job">Create Job</a></li>
        </ul>
      </div>
      <div class="a-txt-bar">
        <ul><li class="nav-items"><a class="nav-link" href="/logout">Logout</a></li></ul>
      </div>
    </div>
   
     <div id="tab1" style="border:1px solid grey;padding-left:20%;padding-top:40px;background-color:#d9dad9;">
          <h3>Job Detail</h3><hr>
          <form action="/submit" method="POST" class="contact-form">
         {% csrf_token %}
            <label for="name" >Job Title:</label><br>
            <input type="text" name="title" id="label" class="labl" placeholder="eg:software developer" /><br>
          
          <label for="name">Job Location:</label><br>
          <input type="text" name="location"  id="lbl" class="labl" placeholder="eg:bangladesh" /><br>
          
          <label for="jobtype">Job Type:</label><br>
          <select name="jobtype" id="jobtype">
            <option value="Part-Time">Part-Time</option>
            <option value="Full-Time">Full-Time</option>
             <option value="Intership">Intership</option>
          </select><br>
          
          <label for="name">Category:</label><br>
          <select name="category" id="category">
            <option value="IT">IT</option>
            <option value="Mechanical">Mechanical</option>
          </select><br>
         
        
          <label for="name">Salary:</label><br>
          <input type="text"  name="salary" id="lbl" class="labl" placeholder="$800-$1200" /><br>

          <label for="name">Skills:</label><br>
          <input type="text"  name="skills" id="lbl"  class="labl" placeholder="use comma separated.eg:python,javascript" /><br>

          <h3>Company Detail</h3><hr>
          <label for="name" >Company Name:</label><br>
          <input type="text" name="companyName" id="lbl" class="labl" placeholder="company name" /><br>

          <label for="name" >Website:(optional)</label><br>
          <input type="text" name="website" id="lbl" class="labl" placeholder="https://example.com" />

          <div class="bttn">
           <button style="width:70px;" type="submit" name="submit" class="gform_button button btn btn-danger" value="Submit">Submit</button>
          </div>
        </div>
        </form>
      
    


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
</body>
</html>