{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href={% static 'style4.css' %}>
  </head>
  <body>
   
    <div class="main-sctn">
      {% include 'navbar.html' %}
        <div style="text-align:center;padding:50px;color:black;">
          <p style="font-size:50px;">Register Page</p>
          <a href='/'><p>Home</a><span>/Pages</span></p>
        </div>
      </div>
    <div style="display:flex;text-align:center;justify-content:center;padding-top:10%;padding-bottom:10%;">
    <div class="log">
      <form action="/usersubmit" method="POST">
        {% csrf_token %}
        <h1>Register Now</h1>
        <div class="log1">
          <input type="email" id="email" name="email" placeholder="Email" />
          <i class="bx bxs-envelope"></i>
        </div>
        <div class="log1">
          <input type="text" id="password" name="password" placeholder="password" />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="log1">
          <input type="confirm password" id="confirm password" name="confirm password" placeholder="confirm password"/>
          <i class="bx bxs-lock-alt"></i>
          </div>
       
        <div class="log3">
          <label style="margin-left:10px;padding:15px;"><input type="checkbox" />Accept our terms and conditions and privacy policy</label>
          
        </div>
 
        <button style="color:rgb(85, 82, 82);" type="submit" class="btn">Register Now</button>

        <div class="log4">
          <p>Already have an account?<a href="#">Login</a></p>
        </div>
        </div>
      </form>
    </div>

    {% include 'footer.html' %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
