{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href={% static 'style3.css' %}>
  </head>
  <body>
    <div class="main-sctn">
      <div class="navbar-a">
        <div class="logo-1">
          <b>JOB PORTAL</b>
        </div>
        <div class="nav-bar-items-1">
          <ul class="outer-menu-1">
            <li class="nav-items"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-items">
              <a class="nav-link" href="/job listings">Job Listings</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" href="/contact us">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="txt-bar">
         
          <ul>
            <li class="nav-items">
              <a class="nav-link" href="/log in">Log in</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="msg">
        <h1>Django Developer</h1>
        <a href='/'><p>Home </a><span><a class="cntn" href="/job listings"></span>/ Jobs</a><span> / Django Developer</span></p>
      </div>
    </div>
    <div class="prnt">
     <div class="prnt-1"> <h3>Django Developer</h3>
      <p class="i-id-a">Full Time</p> <p class="ok-a"> <i class='bx bx-lg bxs-location-plus'></i>Dhaka,Bangladesh</button></p>
      </div>
     
    </div>
    <div class="dspt-1">
    <div class="dspt">
      <h4>Job Description</h4>
      <p>
         It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout.The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of letter, as opposed 
          to using 'Content here,content here'.making it look loke readable English. Many desktop
          publishing packages and web page editors now use Lorem Ipsum as their default model text,and a search for
          'Lorem Ipsum' will uncover many web sites still in their infancy.various versions have envolved
          over the years,sometimes by accident,sometimes on purpose(injected humour and the like).
        </p><br>
      <h4>Responsibilities</h4>
        <ul>
          <li>Neccessitatibus quidusdam facilis</li>
          <li>Velit unde aliquam et voluptas reiciendis n Velit unde aliquam et voluptas reiciendis non sapiente labore</li>
          <li>Commodi quae ipsum quas est itaque</li>
          <li>Lorem ipsum dolor sit amet,consectetur adipisicing elit</li>
          <li>Deleniti asperiores blanditiis nihil quia officiis dolor</li>
        </ul><br>
        <h4>Education + Experience</h4>
        <ul>
          <li>Neccessitatibus quidusdam facilis</li>
           <li>Velit unde aliquam et voluptas reiciendis non sapiente labore</li>
            <li>Commodi quae ipsum quas est itaque</li>
             <li>Lorem ipsum dolor sit amet,consectetur adipisicing elit</li>
              <li>Deleniti asperiores blanditiis nihil quia officiis dolor</li>
        </ul><br>
        <h4>Other Benefits</h4>
        <ul>
          <li>Neccessitatibus quidusdam facilis</li>
           <li>Velit unde aliquam et voluptas reiciendis non sapiente labore</li>
            <li>Commodi quae ipsum quas est itaque</li>
             <li>Lorem ipsum dolor sit amet,consectetur adipisicing elit</li>
              <li>Deleniti asperiores blanditiis nihil quia officiis dolor</li>
        </ul>

      </div>
    <div class="fom">
    <div id="table-a" style="border:1px solid rgb(167, 166, 166);padding:20px;background-color:#d9dad9;">
    <form action="save" method="POST" class="frm">
    <h4>Job Summary</h4><br>
    <p><b>Published on:</b>08 May 2020</p>
    <p><b>Employment Status:</b>Full Time</p>
    <p><b>Job Location:</b>Dhaka, Bangladesh</p>
    <p><b>Salary:</b>Negotiable</p>
    </form>
    </div>
    <div id="table-b" style="border:1px solid rgb(167, 166, 166);padding:20px;background-color:#d9dad9;">
    <form action="apply" method="POST" class="frm-1">
    <h4>Share</h4>
    <div class="flud">
            <img src={% static 'twitter.png' %} width="35px" height="35px"> 
            <img src={% static 'link.png' %} width="30px" height="33px"> 
            <img src={% static 'fbook.png' %} width="30px" height="30px">
            <img src={% static 'insta.png' %} width="40px" height="40px">
          </div>
    </form>
    </div>
    </div>
    </div> 
</div>


<div class="job">
 <div class="job-1"> 
  <h2>1 Related Job</h2>
</div>
  <div class="net">
            <img src="/static/icon.png" alt="Company Icon" style="width: 150px; height: 150px; margin-bottom: 10px;">

            <h3>Network Engineer</h3>

            <i class="bx bx-lg bxs-location-plus"></i>Dhaka,Bangladesh

             
              <button class="btn btn-dark btn-sm">Full-Time</button>
            
          </div>
</div>
    {% include 'footer.html' %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
